
#installBar {
background:url("../images/bar_bg.jpg") no-repeat scroll 0 0 transparent;
height:75px;
position:relative;
width:800px;
margin-bottom: 4px;
}

#installBar #progressBar {
background:url("../images/bar.png") no-repeat scroll 0 center transparent;
}
#progressBar {
height:23px;
left:19px;
position:absolute;
top:41px;
}
#installBar #progressPercentage { 
height:71px; 
position:absolute;
right:-55px;
top:-41px;
width:55px;
}
#installBar .iBarStep {
height:40px;
position:absolute;
text-align:center;
top:0;
width:130px;
}
#installBar .stepcount_1 #progressPercentage {
background:url("../images/33.jpg") no-repeat scroll 0 0 transparent;
}
#installBar .stepcount_2 #progressPercentage {
background:url("../images/67.jpg") no-repeat scroll 0 0 transparent;
}
#installBar .stepcount_3 #progressPercentage {
background:url("../images/100.jpg") no-repeat scroll 0 0 transparent;
}
#installBar .iBarDone {
display:none;
}
#installBar .done .iBarDone {
display:block;
left:-40px;
position:absolute;
}
#installBar .iBarAction {
left:-10px;
position:absolute;
}
#installBar .iBarAction a {
border:0 none;
}
#installBar .done .iBarAction {
display:none;
}
#iBarStepInstall {
left:40px;
}
#iBarStepFan {
left:316px
}
#iBarStepEmail {
left:631px;
}
