
#installBar {
background:url("../images/bar_body.png") no-repeat scroll 0 0 transparent;
height:75px;
position:relative;
width:800px;
margin-bottom: 4px;
}

#installBar #progressBar {
background:url("../images/pbar.png") no-repeat scroll 0 0 transparent;
}
#progressBar {
height:24px;
left:21px;
position:absolute;
top:41px;
width:747px;
}
#installBar #progressPercentage {
height:20px;
position:absolute;
right:10px;
top:5px;
width:40px;
}
#installBar .pBarStep {
height:40px;
position:absolute;
text-align:center;
top:0;
width:130px;
}
#installBar .stepcount_1 #progressPercentage {
background:url("../images/33.png") no-repeat scroll 0 0 transparent;
}
#installBar .stepcount_2 #progressPercentage {
background:url("../images/67.png") no-repeat scroll 0 0 transparent;
}
#installBar .stepcount_3 #progressPercentage {
background:url("../images/100.png") no-repeat scroll 0 0 transparent;
}
#installBar .pBarDone {
display:none;
}
#installBar .done .pBarDone {
display:block;
left:7px;
position:absolute;
top:11px;
}
#installBar .pBarAction {
left:6px;
position:absolute;
top:6px;
}
#installBar .pBarAction a {
border:0 none;
}
#installBar .done .pBarAction {
display:none;
}
#pBarStepInstall {
left:40px;
}
#pBarStepFan {
left:314px;
}
#pBarStepEmail {
left:581px;
}
